<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% if controller_name == "menus" && action_name == "show" %>
      <%= form_with(url: menu_path, method: "get", local: true) do %>
        <%= label_tag("item_kind", "Item's kind:") %>
        <%= select("item", "kind", Item.all_kinds.collect{|kind| [kind, kind]}, {},
            { class: 'form-control' } ) %>
        <%= date_field("menu", "menu_date", value: @menu.menu_date, hidden: true) %>
        <%= submit_tag("Search", class: "btn btn-primary") %>
      <% end %>
    <% elsif controller_name == "menus" && action_name == "new" %>
      <%= form_with(url: new_menu_path, method: "get", local: true) do %>
        <%= label_tag("item_kind", "Item's kind:") %>
        <%= select("item", "kind", Item.all_kinds.collect{|kind| [kind, kind]}, {},
            {class: 'form-control'} ) %>
        <%= date_field("menu", "menu_date", value: @menu.menu_date, hidden: true) %>
        <%= submit_tag("Search", class: "btn btn-primary") %>
      <% end %>
    <% else %>
      <p>Form render error</p>
    <% end %>
  </div>
</div>
