<% provide(:title, 'Menu') %>
<h1 id="menu_date">Menu for: <%= @menu.menu_date %></h1>

<%= render 'date_form' %>
<%= render  'kind_form' %>
<%= render 'current_order_form' %>

<%= will_paginate @items %>
<ul id="items_list">
  <%= render @items %>
</ul>
<%= will_paginate @items %>
