<% if current_user.admin? && controller_name == "menus" && action_name == "new" %>
  <li>
    <div>
      <%= link_to image_tag(item.photo.url, alt: "Add to menu"), 
          menu_item_link(item.name) %>
    </div>
    <div><%= item.name %></div>
    <div><%= item.price %></div>
  </li> 
<% elsif controller_name == "menus" || controller_name == "orders" %>
  <li>
    <div>
     <%= link_to image_tag(item.photo.url, alt: "Add to order"), 
        order_item_link(item.name) %>
    </div>
    <div><%= item.name %></div>
    <div><%= item.price %></div>
  </li>
<% else %>
  <li>
    <div>
     <%= image_tag(item.photo.url, alt: "Item picture") if item.photo? %>
    </div>
    <div><%= item.name %></div>
    <div><%= item.price %></div>
  </li>
<% end %>
