<% provide(:title, 'Items') %>
<h1>Items index</h1>

<h2 id="items_count">Total items: <%= items_counter(@kind) %></h2>

<% provide(:button_text, 'Add item') %>
<h2>Add item</h2>
<%= render 'form' %>

<h2>Items list:</h2>

<%= will_paginate @items %>
<ul id="items_list">
  <%= render @items %>
</ul>
<%= will_paginate @items %>
