<header>
  <%= link_to "lunch ordering", root_path %>
  <nav>
    <ul>
      <% if logged_in? %>
        <% if current_user.admin? %>
          <li>
            <a href="#">Menu</a>
            <ul>
              <li><%= link_to "Show menu", last_menu %></li>
              <li><%= link_to "Today menu", new_menu_path %></li>
            </ul>
          <li><%= link_to "Orders", orders_path %></li>
          <li><%= link_to "Items", items_path %></li>
          <li><%= link_to "Users", users_path %></li>          
        <% else %>
          <li><%= link_to "Menu", last_menu %></li>
          <li><%= link_to "My orders", orders_path %></li>
        <% end %>
        <li>
          <a href="#">Account</a>
          <ul>
            <li><%= link_to "Edit account", edit_user_path(current_user) %></li>
            <li>-------</li>
            <li><%= link_to "Sign out", signout_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Sign in", signin_path %></li>
        <li><%= link_to "Sign up", signup_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
